<div class="row">

  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <img alt="..." class="img-fluid rounded mx-auto d-block w-25 text-center" src="../../../assets/images/Register.png">
    <form  (ngSubmit)="onSigneup()" [formGroup]="authForm">
      <div class="form-group">
        <label  class="control-label" for="email">user_name :</label>
        <input  class="form-control" formControlName="user_name" id="user_name" name="user_name" ngModel="" type="text">
      </div>
      <div class="form-group">
        <label  class="control-label" for="email">last_name :</label>
        <input  class="form-control" formControlName="last_name" id="last_name" name="last_name" ngModel="" type="text">
      </div>
      <div class="form-group">
        <label  class="control-label" for="email">first_name :</label>
        <input  class="form-control" formControlName="first_name" id="first_name" name="first_name" ngModel="" type="text">
      </div>
      <div class="form-group">
        <label  class="control-label" for="email">Email :</label>
        <input  class="form-control" formControlName="email" id="email" name="email" ngModel="" type="email">
      </div>
      <div class="form-group">
        <label  class="control-label" for="password">Pasword :</label>
        <input  class="form-control" formControlName="password" id="password" name="password" ngModel="" type="password">
      </div>
      <div class="form-group">
        <label  class="control-label" for="password">rf_id :</label>
        <input  class="form-control" formControlName="rf_id" id="rf_id" name="rf_id" ngModel="" type="text">
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>
